/*
=======
Global Styles
=======
*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap");

* {margin: 0;padding: 0;box-sizing: border-box;}

:root {
  --dark-green: hsl(150, 64%, 25%);
  --bg-color: hsl(30, 38%, 92%);
  --text-color: hsl(228, 12%, 48%);
  --bg-container: hsl(0, 0%, 100%);
}

html {background-color: var(--bg-color);}

body {height: 100vh;}

/*
=======
Common Flex Styles
=======
*/
.main-content,
.container,
.right-side,
.prices,
.cart-content {display: flex;}

.main-content,
.cart-content {justify-content: center;}

.main-content,
.right-side,
.prices,
.cart-content {align-items: center;}

.main-content {height: 95vh;}

.main-content > .container {
  width: 580px;
  height: 350px;
  background-color: var(--bg-container);
  border-radius: 12px;
  overflow: hidden;
}

.container > .left-side {width: 50%;}

.container > .left-side,
.left-side img {height: 100%;}

.left-side img {width: 100%;}

.right-side {
  width: 50%;
  padding: 1.5rem 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.product-identifier .title-type {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.5rem;
}

.product-identifier .title-product {
  font-family: "Fraunces", serif;
  font-weight: bolder;
  line-height: 1.4rem;
  margin-top: 14px;
}

.right-side .title-type,
.desc,
.old-price {color: var(--text-color);}

.right-side .title-type,
.desc,
.old-price,
.cart-content a, 
.attribution {font-family: "Montserrat", sans-serif;}

.product-description .desc {font-size: 14px;}

.prices {
  width: 80%;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.prices h3 {
  font-family: "Fraunces", serif;
  color: var(--dark-green);
  font-size: 35px;
}

.prices h5 {font-size: 10px;}

.cart-content {
  background-color: var(--dark-green);
  width: 100%;
  border-radius: 8px;
  gap: 10px;
  height: 35px;
  font-size: 10px;
  font-weight: bolder;
}

.cart-content img {
  width: 10px;
  height: 10px;
}

a {text-decoration: none;}

.cart-content > a {color: #ffff;}

.cart-content:hover {
  background-color: hsl(150, 69%, 15%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: bolder;
}

.attribution a {color: var(--dark-green);}
